.card-environment {
	float: left;
	width: 60%;
}

.instruction {
	float: left;
	width: 40%;
	padding-right: 2em;
}

.main {
	margin-bottom: 3em;
	margin-top: 3em;
}

.clear {
	clear: left;
}

.card-count-bar {
	background-color: green;
	width: 170px;
	height: 20px;
}

.card-count-bar.low {
	background-color: red;
}